button {
    border: none;
    background-color: #50305e;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    box-shadow: 4px 4px 0 0 #f67dda;
    color: #f67dda;
  }
  
  button:hover {
    background-color: #40305e;
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #40305e;
  }
  
  .equals:hover {
    background-color: #40305e;
  }
  