.btn-primary{
    background-color: aqua;

}
.btn-secondary{
    background-color: rgb(81, 255, 0);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    color: black;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 15px;
  }
  
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }

  @media (min-width:768px){
    .col-md-4{
      flex: 0 0 calc(33.3% - 30px);
    max-width: calc(33.3% - 30px);
    width: 33.33%;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    margin-top: 50px;
  }
  
  
  footer p {
    margin-bottom: 0.25rem;
  }
  
  .album {
    display: flex;
    justify-content: center;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  
  .col-md-4 {
    flex: 0 0 calc(40% - 30px);
    max-width: calc(33.3% - 0px);
    padding: 15px;
    box-sizing: border-box;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f8f9fa;
  }
  
  .card-body {
    flex: 1 ;
    padding: 1.25rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .btn-group {
    margin-top: auto;
  }
  
  .text-muted {
    color: #6c757d;
    padding: 10px;
    line-height: 1.6;
  }
  
  .col-md-4 {
    float: left;
    width: 40%;
  }